


:root {
    --primary-color: #004a94;
    --secundary-color: #edededff;
    --third-color: #ffff;
    --for-color: #99712a;
    --text-color: #6c757d;

}


body{
    
    margin : 0;
    padding : 0;
    display : flex; 
    flex-direction: column;
    min-height: 100vh;
    color: antiquewhite;
    
}



svg{
    width: 200px;
}


.main-container{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}








.login-container {
    background: linear-gradient(to bottom, rgba(218, 221, 226, 1) 49%, rgba(255, 255, 255, 1) 75%);
    padding: 1.25rem;
    border-radius: 0.75rem;
    background-color: var(--text-color);
    font-family: "DM Serif Text", serif;
    text-align: center;
    font-style: normal;
    font-weight: bolder;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 2rem;
}


.login-text{
    margin-top: 2rem;
    font-family: "DM Serif Text", serif;
    font-size: 3rem;
}


.acceso {
    /*boton*/
    background-color: var(--primary-color);
    background-color: var(--primary-color);
    border-radius: 2rem;
    padding: .5rem 1rem;
    color: var(--text-color);
    width: 100%;
    cursor: pointer;
    color: var(--third-color);
    font-weight: bold;
    margin: 2rem auto; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.acceso:hover {
    background-color: #99712a;

}



/* Estilos para el contenedor de la imagen */

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    width: 100%;
    height: 500px;
    }
    
    .image-container img{
        width: 250px;
        height: 250px;
    }



/* Footer Container  TECNICA STICKY FOOTER*/


.footer{
    background-color: #004a94;
    color: #fff;
    width: 100%;
    padding: 35px ;
    font-size: 1.2rem;
    }

.footer-top {
    background-color: #004a94;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.footer-ctn {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.footer-img img {
    max-width: 120px;
    width: 100%;
}

.footer-lists {
    width: 33.5%;
    padding: 0 6.2%;
    background: url(./img/bg-footer-h.jpg) ;
    box-sizing: border-box;
}

.footer-contact {
    flex: 1;
    margin: 0 20px;
    font-size: 1.2rem;
}

.footer-contact ul {
    list-style-type: none;
    padding: 0;
}

.footer-contact ul li {
    margin-bottom: 10px;
}

.footer-contact ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-contact ul li a:hover {
    text-decoration: underline;
}

.footer-copy {
    background-color: #004a94;
    padding: 10px 20px;
    text-align: center;
    
}

.footer-copy-left p {
    margin: 0;
    color: #fff;
}

.footer-copy-left a {
    color:white;
    cursor: pointer;
    
}

.footer-copy-left a:hover {
    color: #99712a;
    /* Cambia el color de fondo al pasar el mouse */
}



@media (max-width: 900px) {
    .login-body{
        font-size: 8rem;
        
       }
       
       .footer-contact{
           font-size: 8rem;
          }
          
          .footer-copy {
           font-size: 8rem;
          } 
          
       } 
/*MOVILES */


@media (min-width:300px) {
    
        .footer-top{
         font-size: 0.7rem;
         
         
        }
        
        .footer-contact{
            font-size: 0.7rem;
           }
           
           .footer-copy {
            font-size: 1rem;
           } 
           
        } 
