:root {
    --primary-color: #004a94;
    --secundary-color: #edededff;
    --third-color: #ffff;
    --for-color: #99712a;
    --text-color:  #6c757d;

}


/* Body and container styling */
.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--third-color);
    /* background: linear-gradient(to bottom,#edededff, #99712a);  */
}

.login-container {
    /* background: linear-gradient(to bottom,#dfe0df, #ffffffff);  */

    background: rgb(218, 221, 226);
    background: linear-gradient(to bottom, rgba(218, 221, 226, 1) 49%, rgba(255, 255, 255, 1) 75%);
    padding: 1.25rem;
    border-radius: 0.75rem;
    background-color:  var(--text-color);
    font-family: "PT Sans", sans-serif;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    width: 25rem;
}


/* Image and text styling */
.login-icon-container {
    display: flex;
    justify-content: center;
}

.login-icon {
    height: 100%;
    WIDTH: 100%;
}

.login-text {
    text-align: center;
    margin-top: 1rem;
}

.input-icon {
    height: 1rem;
}

/* Input styling */
.input-group {
    margin-top: 1rem;

}

/* Checkbox and links styling */
.options-container {
    display: flex;
    justify-content: space-around;
}

.remember-me {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.remember-text {
    font-size: 0.9rem;
}

.forgot-password-link {
    text-decoration: none;
    color: #17a2b8;
    font-weight: 600;
    font-style: italic;
    font-size: 0.9rem;
}


.acceso {
    background-color: var(--primary-color);
    background-color: var(--primary-color);
    padding: 0.25rem;
    border-radius: 0.75rem;
    color: var(--text-color);
    width: 100%;
    cursor: pointer;
    color: var(--third-color);
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
}

.acceso:hover {
    background-color: #99712a;
    /* Cambia el color de fondo al pasar el mouse */
}

.signup-container {
    display: flex;
    gap: 0.25rem;
    justify-content: center;
    margin-top: 1rem;
}

.signup-link {
    text-decoration: none;
    color: #17a2b8;
    font-weight: 600;
}

/* Divider styling */
.divider-container {
    padding: 1rem;
}

.divider {
    border-bottom: 1px solid #dee2e6;
    text-align: center;
    height: 0.9rem;
}

.divider span {
    background-color: var(--third-color);
    padding: 0 0.75rem;
}

/* Google login button styling */
.redes-login-btn {
    align-items: center;
    padding: 0.5rem;
    margin: 0.5rem;

}

.redes-icon {
    height: 1.6rem;
}

.redes-text {
    font-weight: 600;
    color: #6c757d;
}



/* Sobrescribiendo estilos de .form-control */
.form-control{
    border: 1px solid #004a94!important; 
    background-color: #faf8f8 !important;
  }
  
  /* Sobrescribiendo estilos de .input-group-text */
  .input-group-text {
    border: 1px solid #004a94 !important; 
    background-color: #e9ecef !important; 
  }
  
  /* Estilos adicionales para el ícono en el input */
  .input-icon {
    height: 1rem; /* Ajuste de tamaño del ícono */
  }
  



















/*BOTON DE REDES*/

.redes-login-container {
    display: flex;
    justify-content: center;
    /* horizontalmente */
    gap: 1rem;
    /* Espacio entre los botones */
    padding: 1rem;
    /*Espacio */
    cursor: pointer;
    /* Cambia el cursor cuando se pasa sobre el botón */
    transition: background-color 0.3s;
    /*Transición para el cambio de color */

}


.redes-login-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    background-color: #f8f9fa;

}

/* Cambia el color de fondo al pasar el cursor sobre el botón */
.redes-login-btn:hover {
    background-color: #e2e6ea;
}

/* Estilo del ícono dentro del botón */
.redes-icon {
    height: 2rem;
    width: 2rem;
}

/* Estilo del texto dentro del botón */
.redes-text {
    font-size: 0.9rem;
    color: #333;
}